<script type="text/html" id="details_tmpl">
  <div class="layout">
    <div class="layout-1 layout-md-1-4">
      <div class="m-t4">
        <div class="color-bg-3 p-x4 p-y5">
          <h3 class="text-h3 m-b2">Bron gegegevens</h3>
          <p class="text-body m-b4">
            Deze informatie is geautomatiseerd opgehaald uit het
            algoritmeregister van <%=item.organization%>.
          </p>
          <a
            href="<%=item.website%>"
            class="text-body u-text-underline color-6"
            target="_blank"
          >
            Bekijk de bronwebsite
            <img
              src="https://tydelyk.nl/algoritmeregister/img/external.svg"
              class="u-display-inline-block m-l1"
              style="width: 16px"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="layout-1 layout-md-3-4">
      <div class="p-y3">
        <div class="ar-detail">
          <div class="m-b6">
            <a
              href="/algoritmes"
              class="u-display-block m-b1 text-h4 color-6 u-flex u-align-center"
              ><img
                src="https://tydelyk.nl/algoritmeregister/img/arrow-right.png"
                style="height: 12px; opacity: 0.5; transform: rotate(180deg)"
                class="m-r2"
              />
              <span>Terug</span></a
            >
            <h1 class="text-h2 m-b3"><%=item.name%></h1>
            <p class="text-body m-b4"><%=item.description_short%></p>
            <div class="u-flex">
              <div class="m-r5">
                <h4 class="text-h4">Organisatie</h4>
                <p class="text-body"><%=item.organization%></p>
              </div>
              <div class="m-r5">
                <h4 class="text-h4">Afdeling</h4>
                <p class="text-body"><%=item.department%></p>
              </div>
              <div class="m-r5">
                <h4 class="text-h4">Thema</h4>
                <p class="text-body"><%=item.category%></p>
              </div>
              <div class="m-r5">
                <h4 class="text-h4">Type</h4>
                <p class="text-body"><%=item.type%></p>
              </div>
              <div class="m-r5">
                <h4 class="text-h4">Status</h4>
                <p class="text-body"><%=item.status%></p>
              </div>
            </div>
          </div>

          <% var category = ""; for (var property in schema.properties) {
            if (category !== schema.properties[property].category) {
              category = schema.properties[property].category; %>

            <div
              class="color-bg-3 u-border-radius m-y4 p-y3 p-x4 u-flex u-space-between u-align-center"
            >
              <a href="#" class="text-h3 color-6"><%=category%></a>
              <img
                src="https://tydelyk.nl/algoritmeregister/img/arrow-right.png"
                style="height: 16px; opacity: 0.5; transform: rotate(90deg)"
              />
            </div>

            <% } %>

            <div class="p-b4 p-x4">
              <div class="markup-zone">
                <h4><%=schema.properties[property].name%></h4>
                <p><%=item[property]%></p>
                <hr />
              </div>
            </div>
            
          <% } %>

        </div>
      </div>
    </div>
  </div>
</script>
