<div class="ar-filters">
  <div class="color-bg-3 p-y3 p-x5">
    <div class="m-y2">
      <h3 class="text-h4">Type algoritme</h3>
      <p class="text-body">
        <a href="?q=type:rule">Regelgebaseerd</a>
        <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=type:zelf">(Zelf)lerend</a>
        <span class="color-2">(0)</span>
      </p>
    </div>
    <!-- <div class="m-y4">
      <h3 class="text-h4">Risico categorie</h3>
      <p class="text-body">Verboden <span class="color-2">(0)</span></p>
      <p class="text-body">Hoog risico <span class="color-2">(0)</span></p>
      <p class="text-body">Laag risico <span class="color-2">(0)</span></p>
      <p class="text-body">Geen risico <span class="color-2">(0)</span></p>
    </div> -->
    <!-- <div class="m-y4">
      <h3 class="text-h4">Thema</h3>
      <p class="text-body">Verkeer <span class="color-2">(0)</span></p>
      <p class="text-body">Inkomen <span class="color-2">(0)</span></p>
      <p class="text-body">Belastingen <span class="color-2">(0)</span></p>
      <p><a href="" class="text-body color-2">meer ...</a></p>
    </div> -->
    <div class="m-y4">
      <h3 class="text-h4">Organisatie</h3>
      <p class="text-body">
        <a href="?q=organization:Gemeente Amsterdam">Gemeente Amsterdam</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Gemeente Den Haag">Gemeente Den Haag</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Gemeente Rotterdam">Gemeente Rotterdam</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Gemeente Utrecht">Gemeente Utrecht</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Ministerie BZK">Binnenlandse Zaken &hellip;</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Ministerie SZW">Sociale Zaken en &hellip;</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Ministerie JenV">Justitie en &hellip;</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Ministerie EZK">Economische Zaken &hellip;</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Ministerie FIN">Financiën</a> <span class="color-2">(0)</span>
      </p>
      <p class="text-body">
        <a href="?q=organization:Ministerie IenW">Infrastructuur &hellip;</a> <span class="color-2">(0)</span>
      </p>
      <p><a href="" class="text-body color-2">meer ...</a></p>
    </div>
  </div>
</div>
