<style>
    @media screen and (max-width: 992px) {
        #filters { display: none }
    }
</style>
<div class="layout-1 layout-md-1-4" id="filters">
    <div class="color-bg-3 p-4">
        <h2 class="text-h2">Filters</h2>
        <div class="m-y4">
            <h3 class="text-h4">Type algoritme</h3>
            <p class="text-body"><a href="?search='type:rule-based'">Regelgebaseerd</a> <span class="color-2">(0)</span></p>
            <p class="text-body"><a href="?search='type:self-learning'">(Zelf)lerend</a> <span class="color-2">(0)</span></p>
            <p class="text-body"><a href="?search='type:unknown'">Onbekend</a> <span class="color-2">(0)</span></p>
        </div>
        <div class="m-y4">
            <h3 class="text-h4">Risico categorie</h3>
            <p class="text-body">Verboden <span class="color-2">(0)</span></p>
            <p class="text-body">Hoog risico <span class="color-2">(0)</span></p>
            <p class="text-body">Laag risico <span class="color-2">(0)</span></p>
            <p class="text-body">Geen risico <span class="color-2">(0)</span></p>
        </div>
        <div class="m-y4">
            <h3 class="text-h4">Thema</h3>
            <p class="text-body">Verkeer <span class="color-2">(0)</span></p>
            <p class="text-body">Inkomen <span class="color-2">(0)</span></p>
            <p class="text-body">Belastingen <span class="color-2">(0)</span></p>
            <p><a href="" class="text-body color-2">meer ...</a></p>
        </div>
        <div class="m-y4">
            <h3 class="text-h4">Organisatie</h3>
            <p class="text-body">Gemeente Den Haag <span class="color-2">(0)</span></p>
            <p class="text-body">Gemeente Utrecht <span class="color-2">(0)</span></p>
            <p class="text-body">Gemeente Amsterdam <span class="color-2">(0)</span></p>
            <!-- <p class="text-body">Min BZK <span class="color-2">(12)</span></p> -->
            <p><a href="" class="text-body color-2">meer ...</a></p>
        </div>
    </div>
</div>