<header class="flex space-between p4" style="justify-content: center;">
  <a href="/" class="flex align-center">
    <img
      src="//www.algoritmeregister.org/img/algoritmeregister-logo.svg"
      class="w-main-logo"
      alt="algoritmeregister logo"
    />
  </a>
  <!-- <nav class="flex align-center">
    <a href="/" class="text-nav mr4">home</a>
    <a href="https://www.algoritmeregister.org" class="text-nav mr4"
      >meer informatie</a
    >
    <a href="https://www.github.com/Algoritmeregister">
      <img
        src="//www.algoritmeregister.org/img/github-repo-link.svg"
        class="display-block"
        alt="github logo"
      />
    </a>
  </nav> -->
</header>
