<header class="ovnl-header m-b4">
  <div class="layout p-y3">
    <div class="layout-1">
      <div class="u-flex u-space-between u-align-center">
        <a href="/">
          <img src="/img/logo-overheid-nl.svg" class="ovnl-header-logo" />
          <p class="ovnl-header-subtitle">Algoritmes in de Overheid</p>
        </a>
        <div class="u-md-display-none">
          <a href="/algoritmes" class="burger u-border-radius">
            <div class="burger-line-wrap m-r2">
              <div class="burger-line"></div>
              <div class="burger-line"></div>
              <div class="burger-line"></div>
            </div>
            <span class="burger-text color-6">Menu</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% include nav.html %}

  {% if include.crumble %}
    {% include crumble.html %}
  {% endif %}

  {% if include.searchbar %}
    {% include searchbar.html %}
  {% endif %}
</header>