<nav class="color-bg-2 u-display-none u-md-display-block">
  <div class="layout">
    <div class="layout-1 u-flex u-space-between">
      <div>
        <a
          href="#"
          class="text-menu u-display-inline-block color-6 color-bg-1 p-x3"
          >Overheid.nl</a
        >
        <a href="/" class="text-menu u-display-inline-block color-1 p-x3"
          >Home</a
        >
        <a
          href="/algoritmes"
          class="text-menu u-display-inline-block color-1 p-x3"
          >Algoritmes</a
        >
      </div>
      <div>
        <a href="#" class="text-menu color-1 p-x3">Help</a>
      </div>
    </div>
  </div>
</nav>
