<div class="ovnl-header-crumble color-bg-3">
  <div class="layout u-justify-center">
    <div class="layout-1 layout-md-1-2 p-t2">
      <div class="ovnl-search">
        <form class="u-flex u-align-start">
          <input
            id="search-bar"
            class="ovnl-search-input m-b3 u-flex-1"
            type="text"
            placeholder="Zoek op organisatie, titel of omschrijving"
          />
          <button class="btn btn-attached">Zoeken</button>
        </form>
      </div>
    </div>
  </div>
</div>
