<!DOCTYPE html>
<html lang="nl">
  <head>
    {% include meta.html %}
  </head>
  <body>
    {% include header.html %}

    {% include nav.html %}

    {% comment %}
    {% include tab-nav.html %}
    {% endcomment %}

    {% comment %}
    {% include content.html %}
    {% endcomment %}
    
    <script src="/js/microtemplating.js"></script>
    <script type="module" src="/js/dataloader.js"></script>

    <div id="details-page" style="display: none">
      {% include details.html %}
    </div>

    <div id="search-page" style="display: none">
      {% include search-bar.html %}
      {% include search-results.html %}
    </div>

    {% include footer.html %}
  </body>
</html>
